@font-face {
    font-family: 'Graphik LCG';
    src: local('Graphik LCG Thin'), local('Graphik-LCG-Thin'),
        url('/Users/mariamakrenko/Documents/projects/landingvnv/src/GraphikLCG-Thin/GraphikLCG-Thin.woff2') format('woff2'),
        url('/Users/mariamakrenko/Documents/projects/landingvnv/src/GraphikLCG-Thin/GraphikLCG-Thin.woff') format('woff'),
        url('/Users/mariamakrenko/Documents/projects/landingvnv/src/GraphikLCG-Thin/GraphikLCG-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  
 body{
 	background-color: black;
 }
.tabs_s{
	background-color: black;
	margin: 0px auto 0px auto;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	width: 70%;
  	font-family: Graphik LCG, sans-serif;
  	font-weight: bold;
  	font-size: 10px;
}
.tabs_ss{
	background-color: black;
	margin: 0px auto 0px auto;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	width: 80%;
  	font-family: Graphik LCG, sans-serif;
  	font-weight: bold;
  	font-size: 25px;
}

.tab_ad .nav-item #fill-tab-example-tab-home{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-home{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-home.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}

.tab_ad .nav-item #fill-tab-example-tab-profile{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-profile{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	border-radius: 30px;
	color: white;
}
#fill-tab-example-tab-profile.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}
.tab_ad .nav-item #fill-tab-example-tab-longer-tab{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-longer-tab{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	border-radius: 30px;
	color: white;
}
#fill-tab-example-tab-longer-tab.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}
.tab_ad .nav-item #fill-tab-example-tab-contact{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	height: 77px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-contact{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	border-radius: 30px;
	color: white;
}
#fill-tab-example-tab-contact.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}

.tab_ad .nav-item #fill-tab-example-tab-bot{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	height: 77px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-bot{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	height: 30px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-bot.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}

.tab_ad .nav-item #fill-tab-example-tab-site{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:370px;
	height: 77px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-site{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:170px;
	height: 30px;
	border-radius: 30px;
	color: white;
}

#fill-tab-example-tab-site.nav-link.active{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 30px;
	background-color: white;
	color: black;
}
.nav-item{
	padding-right: 10px;
	padding-left: 10px;
}

.tab{
	border: 1px solid white;
	color: white;
	padding: 10px;
	border-radius:0px 0px 10px 10px;
	margin-bottom: 90px;
}

.tab_d{
	border: 1px solid white;
	color: white;
	padding: 30px;
	border-radius:0px 0px 10px 10px;
	margin-bottom: 120px;
}

.tab_a{
	padding: 10px;
	overflow-y: hidden;
}
.tab_ad{
	padding: 10px;
	overflow-y: hidden;
}
.tab_a::-webkit-scrollbar{
	height: 3px;
}
.tab_a::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 10px;
  width: 20px;
}

.tab_a::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 20px;
}


