@font-face {
    font-family: 'Graphik';
    src: local('Graphik Thin'), local('Graphik-Thin'),
        url('Graphik-Thin.woff2') format('woff2'),
        url('Graphik-Thin.woff') format('woff'),
        url('Graphik-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }